

nav {
    overflow: auto
}

nav ul {
    padding: 0 0 0 2px;
}

nav li {
    float: left;
    margin: 0px 2px 4px 0px;
    padding: 3px 5px;
    list-style: none;
    border: 1px solid wheat;
    background-color: #dedcd7;
}

nav li a {
    color: #313135;
    text-decoration: none;
    padding: 3px;
}

div.items {
    float: left;
    margin: 5px;
    height: 350px;
    width: 260px;
    border: 2px solid beige;
    overflow: hidden;
}

div.items div {
    min-height: 10px;
}

div.items div.image {
    height: 280px;
}

div.items img {
    max-height: 280px;
}

div.items div.text {
    padding: 2px 0 3px 0;
    font-size: 11px;
    color: grey;
    font-family: Arial;
}

div.items div.name {
    font-size: 12px;
}

div.items div.extra {
    display: block;
}

div.items div.extra span {
    background-color: #dedcd7;
    overflow: overlay;
    color: #313135;
    margin: 0 5px 0 0;
    padding: 0 1px;
}

div.items div.extra a {
    color: #313135;
}

div.items div.extra a.action {
    padding: 6px 12px 0px 5px;
    margin: 0 5px 0 0;
    background-image: url(/images/glyphicons-halflings-sprite-sheet.png);
}

div.items div.extra a.Active {
    background-position: 354px -122px;
}

div.items div.extra a.Inactive {
    background-position: 323px -122px;
}

div.items div.extra a.Deleted {
    background-position: 384px -123px;
}

div.items div.extra a.Archived {
    background-position: 384px -123px;
}

div.items div.extra a.InProgress {
    background-position: 354px -122px;
}

div.items div.extra a.Submitted {
    background-position: 354px -183px;
}

div.items div.extra a.Approved {
    background-position: 477px -183px;
}

div.items div.extra a.Rejected {
    background-position: 447px -183px;
}

div.items div.name a {
    color: grey;
    text-decoration: underline;
}

ul.pager {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.pager li {
    float: left;
    padding: 0 6px 0 6px;
    margin: 0 5px 0 3px;
}

ul.pager li a {
    color: grey;
    padding: 2px 14px;
}

ul.pager li > span {
    padding: 2px 14px;
}

div.filters {
    padding: 5px 0 5px 2px;
}

div.filters form {
    float: left;
}

div.filters form select, div.filters form input, div.filters form label {
    padding: 2px 0 1px 1px;
    color: grey;
    background-color: white;
    border: 1px solid #d3d3d3;
    max-width: 200px;
    display: inline;
    width: 90px;
    height: initial;
    font-size: 10px;
}

div.filters form input[type="submit"] {
    background-color: #dedcd7;
    border: 1px beige;
    color: #313135;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 1px 5px 0px 0px;
}

div.filters form input[type="checkbox"] {
    width: 10px;
}

div.filters form label {
    border: none;
}

div.filters form.approve {
    margin-left: 10px;
}

div.filters form.approve input[type="submit"] {
    background-color: white;
    border: none;
    color: #D32F2F;
    text-decoration: underline;
    cursor: pointer;
}

div.filters form input.search {
    width: 55px;
}

div.filters form input.search_text {
    width: 120px;
}

div.filters form a.clearall {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}

span.errorMsg {
    color: red;
}

div.message {
    position: fixed;
    top: 30px;
    left: 500px;
    display: block;
}

div.message div.error {
    color: red
}

form.create_look {
    float: left;
}

form.create_look div {
    margin: 0 0 5px 0px;
    text-align: left;
    float: left;
    width: 500px;
}

form.create_look input, select {
    margin-right: 10px;
}

form.create_look input[type=text], textarea {
    min-width: 400px;
}

/* Selectable css */
#feedback {
    font-size: 1.4em;
}

ol.selectable .ui-selecting {
    background: #FECA40;
}

ol.selectable .ui-selected {
    background: #F39814;
    color: white;
}

ol.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol.selectable li {
    margin: 3px;
    float: left;
    text-align: center;
    background: white;
}

/* Sortable css*/
#sortable {
    width: 500px;
    left: 50%;
    margin-left: 10%;
    float: left;
    margin-top: 0;
}

#sortable li img {
    max-width: 200px;
}

/* Lightbox css */
div.trigger_lightbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid wheat;
    color: white;
    background-color: #D32F2F;
    padding: 5px;
    font-family: arial;
    cursor: pointer;
}

div#lightbox {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    position: fixed;
    background: url('/images/overlay.png');
    text-align: center;
    margin-left: -50%;
    overflow: scroll;
    display: none;
}

div#lightbox p#close {
    margin-right: 20px;
    text-align: right;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

div#lightbox li.ui-state-default {
    margin-right: 5px;
    display: -webkit-inline-box;
}

div#lightbox .form-control {
    display: inline;
    width: initial;
}

div.clear {
    clear: both;
}

div.selected_products {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

div.selected_products span {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 1px solid wheat;
    display: none;
    margin: 2px 0 0 0;
}

div.selected_products div.remove {
    position: relative;
    left: 80px;
    cursor: pointer;
    font-size: small;
    background-color: beige;
    width: 20px;
    text-align: center;
    color: gray;
}

div.resource_view {
    margin: 5px;
}

div.resource_view div.image {
    float: left;
}

div.resource_view div.image img {
    max-height: 700px;
    max-width: 550px;
}

div.resource_view table.info {
    float: left;
    width: 500px;
    margin-left: 5px;
}

div.resource_view tr.row {
    text-align: left;
    padding: 5px
}

div.resource_view tr.row td {
    max-width: 490px;
}

div.resource_view tr.row td.title, td.description {
    padding-bottom: 10px;
}

div.resource_view tr.row td.title {
    font-size: 20px;
}

div.resource_view tr.row td.description {
    color: gray;
}

div.resource_view tr.row td.head {
    color: gray;
    max-width: 100px
}

div.resource_view tr.row td.content {
    width: 400px;
    max-width: 390px
}

div.resource_view tr.row td.content img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 5px;
}

div.resource_view tr.row td.content img.icon {
    max-width: 30px;
    max-height: 30px;
}

div.resource_view tr.row td.content img.entity {
    max-width: 170px;
    max-height: 170px;
    border: 1px solid #d3d3d3;
    margin-bottom: 5px;
}

div.resource_view tr.row a.product_link {
    color: blue;
    font-size: 13px;
}

/*Css for CLIENT LIST*/

.font-size-table-header {
    font-size: 77%;
    background-color: grey;
    color: white;
}

.image-width {
    width: auto;
    height: 10px;
    align-items: center;
}

.table-font-size {
    font-size: 77%;
}

/*Pop-up on client list page */

/* Outer */
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}

/* Inner */
.popup-inner {
    max-width: 1157px;
    width: 90%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #FFFFFF;
 /*   padding-top: 57px;*/
    max-height: 574px;
    overflow: scroll;
}

/* Close Button */
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.pop-up-item {
    margin: 11px 11px 11px 2px !important;
    height: 256px !important;
    width: 185px !important;
}

.pop-up-item .image img{
    height: 224px !important;
}

.mobile-app-send{
    padding: 2px;
}

.mobile-app-send select, .mobile-app-send input{
    padding: 2px 0 1px 1px;
    color: grey;
    background-color: white;
    border: 1px solid #d3d3d3;
    max-width: 200px;
    display: inline;
    width: 90px;
    height: initial;
    font-size: 10px;
}
.pop-image-size{
}
.inactive {
    pointer-events: none;
    cursor: default;
}
img.loader{
    display:none;
    width: 30px;
}
.tip-product-img_size{
    max-width:110px;
    max-height: 110px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
.message-position{
    top: 60px;
    margin-bottom: 5px;
    text-align: center
}
.wysiwyg-color-red {
    color: red;
}
.wysiwyg-color-green {
    color: green;
}}

.data-table {
    color: #444;
    font: 10px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}
table.data-table  {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 10px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    /*width: 800px;*/
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.data-table th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

.data-table th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.data-table th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

.data-table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.data-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 2px 3px;
    position: relative;
    transition: all 300ms;
}

.data-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.data-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

.data-table tr:nth-child(odd) td {
    background: #f1f1f1;
}

.data-table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

.data-table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

.data-table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

.data-table tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.data-table tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#campaign-publish-form table.frmtbl{
    border: 1px solid #ccc;
    width: 500px;
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#campaign-publish-form table.frmtbl td.frmtbl {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 2px 3px;
    position: relative;
    transition: all 300ms;
    position: relative;
}

#campaign-publish-form table.frmtbl td.frmtbl input.frmtbl {
    width: 100%;
}

#campaign-publish-form table.frmtbl td.frmtbl .btn-lg {
    width: 130px;
}


#campaign-publish-form table.frmtbl  th.frmtbl {
    background: linear-gradient(#fff, #ccc);
    box-shadow: inset 0 1px 0 #ccc;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    text-shadow: 0 1px 0 #ccc;
}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1051 !important;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}


.has-error .form-control {
    border-color: #ccc !important;
    border-left: 4px solid #000 !important;
}