.alan-report .report-index {
    width: 1000px;
    margin: 0 auto;

}
.alan-report h1 { text-align: center;}


.alan-report div.filters .query-form{float:left;border:2px solid;}
.alan-report div.filters .query-form .filler-options{margin:30px 0}
.alan-report div.filters .query-form ul.filler-options li{list-style:none;border:1px solid #000;display:inline;margin:5px;padding:5px;font-size:14px;float:left}
.alan-report div.filters .query-form ul.filler-options li select{font-size:14px;margin:0 5px;width:180px;border:1px solid #000;color:#000}
.alan-report div.filters .query-form .search-btm,div.report-index .clr{clear:both}
.alan-report .report-output .hide{display:none}
.alan-report .report-output .report-title{
    text-align:center;font-size:25px;font-weight:700; margin:50px 10px 10px 10px; line-height: 40px;}
.alan-report .report-output .report-main-table {
    width: 100%;
}
.alan-report .report-output .show-all-attr{font-size:10px;color:#0AD;text-decoration:underline}
.alan-report .report-output .report-main-table tr td.attr{font-weight:700;padding-left:10px}
.alan-report .report-output .report-main-table tr{border-bottom:2px solid #000}

.alan-report .report-output .report-main-table tr td.attr-val {
    overflow: scroll;
    display: inline-block;
    width: 917px;
}
.alan-report .report-output .report-main-table .report-attr-val-table {
    width: 100%;

}
.alan-report .report-output .report-main-table  .attr-count {
    font-weight: normal;
    font-size: 12px;
}
.alan-report .report-output .report-main-table .report-attr-val-table tr{border-bottom:none}
.alan-report .report-output .report-main-table .report-attr-val-table tr td{ padding:0 7px;border-bottom:.5px solid #000;line-height:25px; text-align: center;}