nav{overflow: auto}
nav ul{padding: 0 0 0 2px;}
nav li{float:left; margin: 0px 2px 4px 0px;padding: 3px 5px;list-style: none; border: 1px solid wheat; background-color: #E91E63;}
nav li a{color: white; text-decoration: none; padding:3px; }
div.items{float:left;margin:5px; height: 300px; width: 260px; border: 2px solid beige;  overflow: hidden;}
div.items img{max-height:280px;}
div.items div.text{font-size:11px; color:grey; font-family: Arial;}
div.items div.name{font-size:12px;}
div.items div.extra span{background-color:#E91E63; overflow: overlay; color: wheat;}
div.items div.name a{color:grey; text-decoration: none;}
ul.pager {list-style: none;padding: 0px;margin:0px;}
ul.pager li{float: left;padding: 0 6px 0 6px;border: 1px solid #d3d3d3;margin: 0 5px 0 3px;}
ul.pager li a{color: grey;}
div.filters{padding: 5px 0 5px 2px;}
div.filters form{float:left;}
div.filters form select{padding: 2px 0 1px 4px; color: grey; background-color: white; border: 1px solid #d3d3d3;max-width: 200px;}
div.filters form input[type="submit"]{background-color: #D32F2F;border: 1px beige;color: white;font-weight: bold;padding: 3px 4px 3px 4px;margin:1px 5px 0px 0px;}
div.filters form.approve{margin-left: 10px;}
div.filters form.approve input[type="submit"]{background-color: white;border: none;color:#D32F2F;text-decoration:underline;cursor:pointer;}


div.message{position: fixed; top: 30px; left: 500px; display:none;}

form.create_look{display:none; float:left;}
form.create_look div{margin:0 0 5px 0px; text-align:left;}

/* Selectable css */
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0;  }
#selectable li { margin: 3px; float: left; font-size: 4em; text-align: center; background: white;}

/* Sortable css*/
#sortable {width: 500px; left: 50%; margin-left: 10%;float:left;margin-top: 0;}

/* Lightbox css */
div.trigger_lightbox {position: fixed; bottom: 20px; right: 20px; border: 1px solid wheat; color: white; background-color: #D32F2F; padding: 5px; font-family: arial; cursor: pointer;}
div#lightbox {width: 100%; height: 100%; top: 0; left: 50%; position: fixed; background: url('/images/overlay.png'); text-align: center;margin-left: -50%;overflow: scroll;}
div#lightbox p#close{margin-right:20px; text-align:right; color: #fff; font-size: 12px; cursor: pointer;}
div#lightbox li.ui-state-default{margin-right: 5px;display: -webkit-inline-box;}

div.clear{clear: both;}

div.selected_products{position: fixed; top: 20px; right: 20px; cursor: pointer;}
div.selected_products span{background-repeat: no-repeat;background-position: top;background-size: cover;width: 100px;height: 100px; border: 1px solid wheat;display: none;margin: 2px 0 0 0;}
div.selected_products div.remove{position: relative; left: 80px; cursor: pointer; font-size: small; background-color: beige; width: 20px; text-align: center; color: gray;}
