.btn-black{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.tag {
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    overflow: auto;
    margin: 14px;
}

nav ul {
    padding: 0 0 0 2px;
}

nav li {
    margin: 0px 2px 4px 0px;
    border: 1px solid wheat;
    background-color: gray;
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 5px;
}
.navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 16px !important;
    color: #ffffff !important;
}
.navbar-inverse {
    background-color: transparent !important;
     border-color: transparent !important;
}
nav li a {
    color: white;
    text-decoration: none;
    padding: 3px;
}

li.active {
    background-color: #E91E63 !important;
}

.btn_quick{
    position: fixed;
    right: 10px;
    z-index: 10;
}

.stack_1{
    bottom: 30px;
}

.stack_2{
    bottom: 60px;
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-device-width : 414px) {
    .rwd_div{
        width: 173px !important;
    }

    .pop-up-item{
        height: 100px !important;
        width: 63px !important;
    }

    .pop-image-size{
        height: 50px !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-device-width : 375px) {
    .rwd_div{
        width: 154px !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-device-width : 360px) {
    .rwd_div{
        width: 147px !important;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 320px) {
    .rwd_div{
        width: 126px !important;
    }
}




div.items {
    float: left;
    margin: 5px;
    height: 365px;
    width: 260px;
    border: 2px solid beige;
    overflow: hidden;
}

div.items div {
    min-height: 10px;
}

div.items div.image {
    height: 280px;
}

div.items img {
    max-height: 280px;
}

div.items div.text {
    padding: 2px 0 3px 0;
    font-size: 11px;
    color: grey;
    font-family: Arial;
}

div.items div.name {
    font-size: 12px;
}

div.items div.extra {
    display: block;
}

div.items div.extra span {
    background-color: lightgrey;
    overflow: overlay;
    color: black;
    margin: 0 5px 0 0;
    padding: 0 1px;
}

div.items div.extra a {
    color: black;
}

div.items div.extra a.action {
    padding: 6px 12px 0px 5px;
    margin: 0 5px 0 0;
    background-image: url(/images/glyphicons-halflings-sprite-sheet.png);
}

div.items div.extra a.Active {
    background-position: 354px -122px;
}

div.items div.extra a.Inactive {
    background-position: 323px -122px;
}

div.items div.extra a.Deleted {
    background-position: 384px -123px;
}

div.items div.extra a.Archived {
    background-position: 384px -123px;
}

div.items div.extra a.InProgress {
    background-position: 354px -122px;
}

div.items div.extra a.Submitted {
    background-position: 354px -183px;
}

div.items div.extra a.Approved {
    background-position: 477px -183px;
}

div.items div.extra a.Rejected {
    background-position: 447px -183px;
}

div.items div.name a {
    color: grey;
    text-decoration: underline;
}

ul.pager {
    list-style: none;
    padding: 19px 0px;
    margin: 0px;
}

ul.pager li {
    float: left;
    padding: 0 6px 0 6px;
    margin: 0 5px 0 3px;
}

ul.pager li a {
    color: grey;
    padding: 2px 14px;
    background-color: darkgray !important;
}

ul.pager li > span {
    padding: 2px 14px;
    background-color: darkgray !important;
}

div.filters {
    padding: 5px 1px 12px 5px;
}

div.filters form {
    float: left;
}

div.filters form select, div.filters form input, div.filters form label {
    padding: 5px 1px 1px 1px;
    color: grey;
    background-color: white;
    border: 1px solid #d3d3d3;
    max-width: 200px;
    display: inline;
    width: 113px;
    height: 27px;
    font-size: 12px;
}

div.filters form input[type="submit"] {
    background-color: #a2a39e;
    border: 1px beige;
    color: white;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 1px 5px 0px 0px;
}

div.filters form input[type="checkbox"] {
    width: 10px;
}

div.filters form label {
    border: none;
}

div.filters form.approve {
    margin-left: 10px;
}

div.filters form.approve input[type="submit"] {
    background-color: white;
    border: none;
    color: #D32F2F;
    text-decoration: underline;
    cursor: pointer;
}

div.filters form input.search {
    width: 110px;
}

div.filters form input.search_text {
    width: 120px;
}

div.filters form a.clearall {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}

span.errorMsg {
    color: red;
}

div.message {
    position: fixed;
    top: 30px;
    left: 500px;
    display: block;
}

div.message div.error {
    color: red
}

form.create_look {
    float: left;
}

form.create_look div {
    margin: 0 0 5px 0px;
    text-align: left;
    float: left;
    width: 500px;
}

form.create_look input, select {
    margin-right: 10px;
}

form.create_look input[type=text], textarea {
    min-width: 400px;
}

/* Selectable css */
#feedback {
    font-size: 1.4em;
}

ol.selectable .ui-selecting {
    background: #FECA40;
}

ol.selectable .ui-selected {
    background: #F39814;
    color: white;
}

ol.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol.selectable li {
    margin: 3px;
    float: left;
    text-align: center;
    background: white;
}

/* Sortable css*/
#sortable {
    width: 500px;
    left: 50%;
    margin-left: 10%;
    float: left;
    margin-top: 0;
}

#sortable li img {
    max-width: 200px;
}

/* Lightbox css */
div.trigger_lightbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid wheat;
    color: white;
    background-color: #D32F2F;
    padding: 5px;
    font-family: arial;
    cursor: pointer;
}

div#lightbox {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    position: fixed;
    background: url('/images/overlay.png');
    text-align: center;
    margin-left: -50%;
    overflow: scroll;
    display: none;
}

div#lightbox p#close {
    margin-right: 20px;
    text-align: right;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

div#lightbox li.ui-state-default {
    margin-right: 5px;
    display: -webkit-inline-box;
}

div#lightbox .form-control {
    display: inline;
    width: initial;
}

div.clear {
    clear: both;
}

div.selected_products {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

div.selected_products span {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 1px solid wheat;
    display: none;
    margin: 2px 0 0 0;
}

div.selected_products div.remove {
    position: relative;
    left: 80px;
    cursor: pointer;
    font-size: small;
    background-color: beige;
    width: 20px;
    text-align: center;
    color: gray;
}

div.resource_view {
    margin: 5px;
}

div.resource_view div.image {
    float: left;
}

div.resource_view table.info {
    float: left;
    width: 500px;
    margin-left: 5px;
}

div.resource_view tr.row {
    text-align: left;
    padding: 5px
}

div.resource_view tr.row td {
    max-width: 490px;
}

div.resource_view tr.row td.title, td.description {
    padding-bottom: 10px;
}

div.resource_view tr.row td.title {
    font-size: 20px;
}

div.resource_view tr.row td.description {
    color: gray;
}

div.resource_view tr.row td.head {
    color: gray;
    max-width: 100px
}

div.resource_view tr.row td.content {
    width: 400px;
    max-width: 390px
}

div.resource_view tr.row td.content img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 5px;
}

div.resource_view tr.row td.content img.icon {
    max-width: 30px;
    max-height: 30px;
}

div.resource_view tr.row td.content img.entity {
    max-width: 170px;
    max-height: 170px;
    border: 1px solid #d3d3d3;
    margin-bottom: 5px;
}

div.resource_view tr.row a.product_link {
    color: blue;
    font-size: 13px;
}

.text-align-center{
    text-align: center !important;
}

/*Css for CLIENT LIST*/

.font-size-table-header {
    font-size: 77%;
    background-color: grey;
    color: white;
}

.image-width {
    width: auto;
    height: 10px;
    align-items: center;
}

.table-font-size {
    font-size: 77%;
}

/*Pop-up on client list page */

/* Outer */
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 12;
}

/* Inner */
.popup-inner {
    max-width: 1157px;
    width: 90%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #FFFFFF;
    /*   padding-top: 57px;*/
    max-height: 574px;
    overflow: scroll;
}

/* Close Button */
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

@media only screen
and (min-device-width : 415px) {
    .pop-up-item {
        margin: 11px 11px 11px 2px !important;
        height: 256px !important;
        width: 185px !important;
    }

    .pop-up-item .image img {
        height: 224px !important;
    }

    .pop-image-size {
        max-width: 200px;
    }

}

.mobile-app-send {
    padding: 2px;
}

.mobile-app-send select, .mobile-app-send input {
    padding: 2px 0 1px 1px;
    color: grey;
    background-color: white;
    border: 1px solid #d3d3d3;
    max-width: 200px;
    display: inline;
    width: 90px;
    height: initial;
    font-size: 10px;
}


.inactive {
    pointer-events: none;
    cursor: default;
}

img.loader {
    display: none;
    width: 30px;
}

.tip-product-img_size {
    max-width: 110px;
    max-height: 110px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;

.message-position {
    top: 60px;
    margin-bottom: 5px;
    text-align: center
}

.wysiwyg-color-red {
    color: red;
}

.wysiwyg-color-green {
    color: green;
}

}

.data-table {
    color: #444;
    font: 10px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}

table.data-table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 10px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    /*width: 800px;*/
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.data-table th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

.data-table th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.data-table th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

.data-table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.data-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 2px 3px;
    position: relative;
    transition: all 300ms;
}

.data-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.data-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

.data-table tr:nth-child(odd) td {
    background: #f1f1f1;
}

.data-table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

.data-table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

.data-table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

.data-table tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.data-table tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#campaign-publish-form table.frmtbl {
    border: 1px solid #ccc;
    width: 500px;
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#campaign-publish-form table.frmtbl td.frmtbl {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 2px 3px;
    position: relative;
    transition: all 300ms;
    position: relative;
}

#campaign-publish-form table.frmtbl td.frmtbl input.frmtbl {
    width: 100%;
}

#campaign-publish-form table.frmtbl td.frmtbl .btn-lg {
    width: 130px;
}

#campaign-publish-form table.frmtbl th.frmtbl {
    background: linear-gradient(#fff, #ccc);
    box-shadow: inset 0 1px 0 #ccc;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    text-shadow: 0 1px 0 #ccc;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1051 !important;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.calendar-container {
    padding-left: 30px;
    padding-right: 30px;

    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}

.cal {
    width: 100%;

}

.cal-time-container {
}

.cal-header {
    color: rgba(93, 102, 103, 0.76);
}

.cal-time-button {
// border: 1 px solid rgba(175, 192, 194, 0.76);
    font-size: 12px;
    margin-top: 1px;
    margin-left: 1px;
    height: 30px;
    background-color: rgba(226, 226, 226, 0.2);
    /*padding-top: 5px;*/
    /*padding-right: 5px;*/

}
.cal-range-button {
    font-size: 11px;
    margin-top: 1px;
    /* margin-left: 1px; */
    height: 30px;
    /*background-color: rgba(70, 95, 111, 0.22);*/
    padding-top: 6px;
}
.col-md-2{
    padding-right: 0px !important;
    padding-left: 0px !important;
}.col-md-1{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.slotAvailable {
    color: rgba(175, 192, 194, 0.76);
}

.slotUnAvailable {
    color: rgba(107, 120, 122, 0.76);
    background-color: rgba(175, 192, 194, 0.76);
}
.slotSelected {
    color: rgba(224, 253, 255, 0);
    background-color: rgba(35, 43, 45, 0.76);
}

.nav-btn {
    margin-top: 20px;
    padding-left: 92px;
    /*padding-right: 40px;*/
}
.range-row {
    /*margin-top: 20px;*/
    padding-left: 92px;
    /*padding-right: 40px;*/
}

.nav-btn-text {
    font-size: 20px;
    font-weight: 500;
}

.selected-btn {
    padding: 5px;
    border: 1px solid #282b30;
    background: #FFFFFF;
    text-align: center;
    color: #000000;
    font-size: 12px;
    /*letter-spacing: 2px;*/
}
.disabled-btn{
    padding: 5px;
    border: 1px solid #dedede;
    background: #dedede;
    text-align: center;
    color: #fff;
    font-size: 12px;

    /*letter-spacing: 2px;*/
}

.resource_view.col-md-12.no-padd{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padd{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.border-around{
    border:1px solid #282b30;
    padding:20px 10px;
}

.non-editable{
    background-color: rgba(226, 226, 226, 0.5);
}

.selected-btn:hover {
    background: #000000;
    color: #FFFFFF;
}

.round-btn-selected {
    display: block;
    /* width: 20px; */
    height: 30px;
    /* border: 1px solid #3e3b44; */
    /* border-radius: 20px; */
    background-color: rgba(62, 59, 68, 0.61);
    color: white;
    float: right;
    text-align: center;
    padding: 8px;
    border-right: 1px solid #000000;
}

.timeSelected {
    padding: 3px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.mrgn5px {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gv-border {
    border: 1px solid #000000;
}

.brdr-right {
    border-right: 1px solid #000000;
}

.col-md-1-d {
    width: 5%;
}

option.dropdown-parent {
    font-weight: bold !important;
}

option.dropdown-child {
    padding-left: 4px !important;
}

.content.looks {
    border: 1px solid #000000;
    min-height: 200px;
}

.content.products {
    border: 1px solid #000000;
    min-height: 200px;
}

.btn_recommendation {
    background-color: #000 !important;
    color: #FFFFFF !important;
}

.btn-close {
    position: fixed;
    top: 10px;
    right: 10px;
}

.btn-done{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    font-family: opensanssemibd;
    border: none;
    color: #fff;
    background-color: #406078;
}


.txt-qstn{
    font-weight: 600;
    font-family: serif;
    font-size: 0.9em;
}

/*common css*/

.mBot1{
    margin-bottom: 10px;
}

.mBot2{
    margin-bottom: 20px;
}

.mBot3{
    margin-bottom: 30px;
}

.mBot4{
    margin-bottom: 40px;
}

.mBot5{
    margin-bottom: 50px;
}

.mBot6{
    margin-bottom: 60px;
}

.mBot7{
    margin-bottom: 70px;
}

.mBot8{
    margin-bottom: 80px;
}

.mBot9{
    margin-bottom: 90px;
}

.mBot1{
    margin-bottom: 10px;
}

.mBot1{
    margin-bottom: 10px;
}

.no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pLF5{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: none !important;
    width: 25%;
    text-align: center;
    top: -50px !important;
    /* position: absolute !important; */
    box-shadow: none !important;
}

.modal-title{
    color:#282b30 !important;
}

.modal.in .modal-dialog{
    background-color: #fff !important;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div#prod-update-div {
    display: inline-block;
    float: right;
    position: absolute;
    top: 102px;
    left: 410px;
}

.recommendations{
    border: 1px solid #000000;
    padding: 10px 10px;
}

.pad10{
    padding: 10px 10px;
}

.pad5{
    padding: 5px 5px;
}


.lh80{
    line-height: 80px;
}

.text-align-left{
    text-align: left;
}

.no-margin-row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.stylist-list > .list {
    padding: 10px;
    list-style: none;
    margin-top: 10px;
}

.stylist-hover-list{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.stylist-list {
    position: absolute;
    z-index: 9999;
    width: 100px;
    border: 1px solid #000;
    background: #f7f7f6;
    margin-top: 10px;
    padding-top: 10px;
}

.stylist-list-header{
    padding: 10px;
    background: rgba(0, 0, 0, 0.28);
    color: #fff;
}

.hover-hand{
    cursor: pointer;
}